.fling-minislide {
    width:400px;
    display: inline-block;
    height:350px; 
    margin-top:35px;
    margin-left: 20px;
    border-radius: 50%;
    overflow:hidden; 
    position:relative; 
    border: 6px solid burlywood;
}
.fling-minislide img {
    position:absolute;
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
}

@media only screen and (max-width: 479px){
        .fling-minislide img { 
            width: 200px;
            height: 175px;
            border-radius: 50%;
            text-align: center;
            overflow:hidden; 
 }
 .fling-minislide {
     border: none;
 }

 h1 {
     font-size: 95%;
 }
 h2 {
     font-size: 90%;
 }
}
  
@keyframes fling-minislide { 
      25%{opacity:1;} 
      40%{opacity:0;}}
      .fling-minislide img:nth-child(1){animation-delay:15s;}
      .fling-minislide img:nth-child(2){animation-delay:10s;}
      .fling-minislide img:nth-child(3){animation-delay:5s;}
      .fling-minislide img:nth-child(4){animation-delay:0s;}

.about-div {
        margin-left: auto;
        margin-right: auto;
        background: black;
        border: 10px;
        border-radius: 25px;
        border: 2px solid burlywood;
        display: flex;
        flex-direction: column;
        height: 91.5vh;
        width: 60vw;
        -webkit-animation: slide-in-blurred-top 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                animation: slide-in-blurred-top 0.4s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}
.fling {
    position: absolute;
    top: 36%;
    left: 52%;
}
.about-header {
    margin-top: 5vh;
    margin-bottom: 3vh;
}
.skills {
    color:burlywood;
    margin-top: 18px;
}
.skills-list {
    color:burlywood;
    font-size: 18px;
    text-align: left;
}
.skills-div {
    position: absolute;
    left: 0%;
    top:38%;
    width: 30vw;
    height: 56.5vh;
    background-color: black;
    border-radius: 25px;
    border: 2px solid burlywood;
}
ul {
    text-align: center;
}
a {
    display:block;
    color:burlywood;
    text-align: center;
    font-size: 18px;
}
.about-me{
    font-size: 18px;
}
#resume {
    font-size: 18px;
}

@media (max-width: 600px) {
    .about-header {
        margin-top: 2vh;
        margin-bottom: 3px;
        font-size: 22px;
    }
    .about-div {
        width: 90vw;
    }
    .about-me {
        font-size: 15px;
        margin-right:5px;
    }
    .home-border {
        width: 30vw;
        margin-bottom: 1vh;
    }
    .skills-list {
        color:burlywood;
        text-align: center;
        margin: 0;
        margin-right: 15px;
        font-size: 14px;
        list-style-type: none;
    }
    .contact {
        font-size: 10px;
    }
    .fling-minislide {
        width: 200px;
        height: 200px; 
        display: inline-block;
        margin-top:35px;
        margin-left: 20px;
        border-radius: 50%;
        overflow:hidden; 
        position:relative; 
        border: 6px solid burlywood;
    }
    .fling {
        position: absolute;
        top: 36%;
        left: 36%;
    }
    .skills {
        font-size: 10px;
    }
    .skills-list {
        font-size: 10px;
    }
}
@media (max-width:479px) and (min-width:900px) {
    .about-header {
        margin-top: 2vh;
        margin-bottom: 3px;
        font-size: 22px;
    }
    .about-div {
        width: 85vw;
    }
    .about-me {
        font-size: 15px;
        margin-right:5px;
    }
    .home-border {
        width: 30vw;
        margin-bottom: 1vh;
    }
    .skills-list {
        color:burlywood;
        text-align: left;
        margin: 0;
        margin-right: 15px;
        font-size: 14px;
        list-style-type: none;
    }
    .contact {
        font-size: 10px;
    }
    .fling-minislide {
        width: 200px;
        height: 175px; 
        display: inline-block;
        margin-top:35px;
        margin-left: 20px;
        border-radius: 50%;
        overflow:hidden; 
        position:relative; 
        border: 6px solid burlywood;
    }
    .fling {
        position: absolute;
        top: 36%;
        left: 40%;
    }
}