html, body {
    background: url('https://w.wallhaven.cc/full/ox/wallhaven-oxeyr5.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    }
body {
    overflow-x: hidden;
    overflow-y: scroll;
}
.navbar {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto;
    height: 8vh;
    width: 100vw;
    background-color: black;
    text-align: center;
 }
h1 {
    color: burlywood;
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 4em;
    text-shadow: 1px 1px burlywood;
    letter-spacing: 12px;
    text-transform: uppercase;
}
h2 {
    color: burlywood;
    text-align: center;
    font-weight: 500;
    margin-top: 5px;
    font-size: 2em;
    text-transform: uppercase;
}
h3 {
    text-align: center;
    font-weight: 800;
    font-size: 1em;
}
p {
    text-align: center;
    color: burlywood;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700px;
}

.technologies {
    position:absolute;
    left:12%;
    top:45%;
}
.about-p {
    position:absolute;
    left:10%;
    top:20%;
}
.contact {
    font-size: 1em;
    text-align: center;
    font-weight: 700;
}
.email {
    font-size: 1.8em;
    text-align: center;
    font-weight: 300;
}
.navlinks {
    font-size: 15px;
    font-weight: 500;
    color: blanchedalmond;
    padding: 25px 0;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}
.navlinks:hover {
    border-bottom:10px burlywood;
    transform: scale(1.1);
    text-shadow: 1px 1px burlywood;
}
.homesection {
    position: relative;
    top:85px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background: black;
    border: 10px;
    border-radius: 25px;
    border: 2px solid burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    width: 70vw;
    text-align: center;
}
.home-border {
    display: block;
    width: 30vw;
    height: 3px;
    background: #f1cd8f;
    margin: 10px auto;
}
.projects-border {
    width: 11vw;
    height: 3px;
    background: #f1cd8f;
    margin: 10px auto;
    position:absolute;
    left:10%;
    top:42%;
}
.home-header {
    margin-bottom: 3vh;
}
.projects-container {
    position: relative;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;
    height: 70vh;
    background-color: black;
    border-radius: 25px;
    border: 2px solid burlywood;
}
.about-container {
    position: relative;
    margin-top: 60px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 15vh;
    background-color: black;
    border-radius: 25px;
    border: 2px solid burlywood;
}
.projects-header {
    color: burlywood;
    position: absolute;
    display: inline-block;
    font-size: 5vh;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    text-shadow: 1px 1px burlywood; 
}
.about-header {
    color: burlywood;
    position: absolute;
    display: inline-block;
    font-size: 2.3vh;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    text-shadow: 1px 1px burlywood; 
}
.about-me {
    margin: 0;
    margin-right: 50px;
    font-size: 20px;
}
.projects-p {
    color:burlywood;
    font-size: 1em;
}
.projects-button {
    position:absolute;
    left:7.5%;
    top:25%;
    font-size: 30px;
}
.projects-img-anchor {
    position:absolute;
    top: 17%;
    left:30%;
    width: 40vw;
    height: 45vh;
    border: 10px;
    border-radius: 25px;
    border: 2px solid burlywood;
}

@media only screen and (max-width: 550px){
    .blackjack-img { height: 50%; }
}
img:hover {
    box-shadow: 0 0 25px 3px black;
    transform: scale(1.1);
  }
.fling-minislide {
    width:450px;
    height:350px; 
    margin-top:55px;
    border-radius: 50%;
    overflow:hidden; 
    position:relative; 
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 8px;
}
.fling-minislide img {
    position:absolute;
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
}
@media only screen and (max-width: 479px){
        .fling-minislide img { 
            width: 200px;
            height: 175px;
            border-radius: 50%;
            text-align: center;
            overflow:hidden; 
 }
 .fling-minislide {
     border: none;
 }

 h1 {
     font-size: 95%;
 }
 h2 {
     font-size: 90%;
 }
}
  
@keyframes fling-minislide { 
      25%{opacity:1;} 
      40%{opacity:0;}}
      .fling-minislide img:nth-child(1){animation-delay:15s;}
      .fling-minislide img:nth-child(2){animation-delay:10s;}
      .fling-minislide img:nth-child(3){animation-delay:5s;}
      .fling-minislide img:nth-child(4){animation-delay:0s;}
.social {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
}
a {
    color: black;
}
button {
    display: inline-block;
    background-color: burlywood;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    padding: 10px;
    border:none;
    outline:none;
}
button:hover {
    transform: scale(1.2);
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: black;
  }
  ::-webkit-scrollbar-thumb {
    background: blanchedalmond;
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
}


