body {
    background-image:url ("../download.jpg");
}

.navbar {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 auto;
    height: 10vh;
    width: 100vw;
    background-color: black;
    text-align: center;
 }

h1, h3 {
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}
p {
    text-align: center;
    font-weight: 700;
}
.navlinks {
    font-size: 15px;
    font-weight: 700;
    color: blanchedalmond;
    padding: 25px 0;
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
}
.navlinks:hover {
    border-bottom:10px blanchedalmond;
    transform: scale(1.1);
}
.homesection {
    margin:auto;
    width: 50%;
    padding: 50px 0;
}

footer {
    position: absolute;
    margin-left: 152px;
    bottom: 0;
    width: 30vw;
    background-color: black;
    color: blanchedalmond;
    border-radius: 10px;
}
p {
    font-weight: 700px;
}
.projects {
    margin-top: 110px;
    margin-left: 150px;
    width: 550px;
    height: 500px;
    background-color: silver;
    border-radius: 20px;
    display: inline-block;
}
.blackjack-container {
    margin-top: 50px;
    margin-left: 150px;
    width: 550px;
    height: 500px;
    background-color: silver;
    border-radius: 20px;
    display: inline-block;
}

.current {
    padding: 3px;
    width: 375px;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 85px;
}
.blackjack-img {
    display: inline-block;
    padding: 3px;
    width: 375px;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 85px;
}

.current-header{
    padding: 10px;
}

img:hover {
    box-shadow: 0 0 10px 1px black;
  }

.fling-minislide {
    width:350px;
    height:300px; 
    margin-top:50px;
    border-radius: 50%;
    overflow:hidden; 
    position:relative; 
    left:27%;
}
.fling-minislide img {
    position:absolute;
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
    height: auto;
    }
  
@keyframes fling-minislide { 
      25%{opacity:1;} 
      40%{opacity:0;}}
      .fling-minislide img:nth-child(1){animation-delay:15s;}
      .fling-minislide img:nth-child(2){animation-delay:10s;}
      .fling-minislide img:nth-child(3){animation-delay:5s;}
      .fling-minislide img:nth-child(4){animation-delay:0s;}


a {
    color: blanchedalmond;
    text-decoration: none;
    display: inline-block;
    margin: 0 5px;
    
}

footer div {
    text-align: center;
    margin-bottom: 10px;
}
